{{ define "main" }}
	<style>
		#cool-emoji {
			display: flex;
			justify-content: center;
			align-items: center;
			animation: rotateAnimation 5s linear infinite;
		}
		
		@keyframes rotateAnimation {
			from {transform: rotateY(0deg);}
			to {transform: rotateY(360deg);}
		}	
	</style>
	

	<h1>404 Not Found</h1>
	<p>The page you requested cannot be found.</p>
	<p>
		<a href="{{ .Site.Home.RelPermalink }}">
			Return to the home page
		</a>
	</p>
	
	<div id="cool-emoji"><img src="/Images/shocked.png"></div>
{{ end }}